<section class="choice">
    <div class="container">
        <h1 class="choice-text">
            Мы предлагаем <span>самые современные методы обучения</span>, постоянно модернизируя наши площадки и
            программы курсов. У
            нас работают профессиональные преподаватели и мастера в области строительных и отделочных материалов.
        </h1>

        <div class="course-items">
            <div class="course-item assigned">
                <div class="item-image">
                    <img src="dist/static/images/video-preview.png" alt="Заставка для первого урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Первичная резка
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>1м 34сек.</span>
                    </div>

                    <a href="#/video/">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Безопасное передвижение
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        LOTO
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        5C
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Формовка
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Мокрая резка
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Подготовка сырья
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Бумага
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Вата
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Крахмал
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>

                <div class="item-content">
                    <h2 class="item-title">
                        Глина
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>

            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/empty.png" alt="Заставка для второго урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Перлит
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>...</span>
                    </div>

                    <a href="#">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span class="score-table">Результат: <span class="score-count">0/10</span></span>
                        <div class="score-info">i</div>
                        <div class="score-info-popup">Тест можно пройти снова и результат будет перезаписан</div>
                    </div>
                </div>

                <div class="assigned-popup">
                    Назначенный курс
                </div>
            </div>
        </div>
    </div>
</section>