<section class="choice">
    <div class="container">
        <h1 class="choice-text">
            Мы предлагаем <span>самые современные методы обучения</span>, постоянно модернизируя наши площадки и
            программы курсов. У
            нас работают профессиональные преподаватели и мастера в области строительных и отделочных материалов.
        </h1>

        <div class="course-items">
            <div class="course-item">
                <div class="item-image">
                    <img src="dist/static/images/video-preview.png" alt="Заставка для первого урока">
                </div>
                <div class="item-content">
                    <h2 class="item-title">
                        Первичная резка
                    </h2>

                    <div class="item-info">
                        Длительность урока:
                        <span>1м 34сек.</span>
                    </div>

                    <a href="#/video/">
                        <button class="item-btn">Начать урок</button>
                    </a>

                    <div class="score">
                        <span id="score-table"></span>
                        <div class="score-info">i</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>