<section class="main">
    <div class="container">
        <div class="main-info">
            <h1 class="main-title">
                Добро пожаловать в <span>КНАУФ</span>
            </h1>

            <h2 class="main-text">
                Мы занимаемся поиском технологических решений в области сухого строительства и отделки помещений.
            </h2>
        </div>

        <h3 class="main-course-info">
            <div><span>Знания</span>, полученные <span>на курсах</span>, помогут Вам:</div>

            <ul>
                <li>Повысить свою квалификацию;</li>
                <li>Конкурентоспособность на рынке труда;</li>
                <li>Освоить новые практики обеспечения качества выполнения отделочных работ.</li>
            </ul>
        </h3>
        <a href="/choice/">
            <button class="main-btn">Перейти к обучению</button>
        </a>
    </div>
</section>