<section class="test">
    <div class="container">
        <div class="test-question" id="testQuestion">
            <div class="current" id="current">
                <!--                <div class="test-question-title">-->
                <!--                    <span class="question-number">Вопрос: 1</span>-->
                <!--                    <span class="question-text">Для чего предназначена станция первичной резки?</span>-->
                <!--                </div>-->

                <!--                <div class="test-question-options">-->
                <!--                    <label for="answer1" class="test-question-option custom-radio">-->
                <!--                        <input type="radio" class="test-question-answer" id="answer1" name="quest1">-->
                <!--                        <span class="radio-icon"></span>-->
                <!--                        <span class="answer-text">Для упаковки продукции</span>-->
                <!--                    </label>-->
                <!--                    <label for="answer2" class="test-question-option custom-radio">-->
                <!--                        <input type="radio" class="test-question-answer" id="answer2" name="quest1">-->
                <!--                        <span class="radio-icon"></span>-->
                <!--                        <span class="answer-text">Для контроля качества продукции после сушки матов</span>-->
                <!--                    </label>-->
                <!--                    <label for="answer3" class="test-question-option custom-radio">-->
                <!--                        <input type="radio" class="test-question-answer" id="answer3" name="quest1">-->
                <!--                        <span class="radio-icon"></span>-->
                <!--                        <span class="answer-text">Для хранения готового продукта</span>-->
                <!--                    </label>-->
                <!--                </div>-->
            </div>
            <div class="question-actions">
                <button class="quest-prev-btn" id="prevBtn">Назад</button>
                <button class="quest-next-btn" id="nextBtn">Дальше</button>
            </div>
        </div>
    </div>
</section>z